In [6]:
import pandas as pd
import numpy as np
import matplotlib as plt
from pyodide.http import pyfetch

In [7]:
async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, 'wb') as f:
            f.write(await response.bytes())

In [8]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [9]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"

In [10]:
await download(file_path, "laptops.csv")
file_name= "laptops.csv"

In [11]:
df = pd.read_csv(file_name, header=0)
df

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,233,Lenovo,4,IPS Panel,2,1,7,35.560,2.6,8,256,1.70,1891
234,234,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.20,1950
235,235,Lenovo,4,IPS Panel,2,1,5,30.480,2.6,8,256,1.36,2236
236,236,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.40,883
237,237,Toshiba,3,Full HD,2,1,5,35.560,2.3,8,256,1.95,1499

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      238 non-null    int64
 1   Manufacturer    238 non-null    object
 2   Category        238 non-null    int64
 3   Screen          238 non-null    object
 4   GPU             238 non-null    int64
 5   OS              238 non-null    int64
 6   CPU_core        238 non-null    int64
 7   Screen_Size_cm  234 non-null    float64
 8   CPU_frequency   238 non-null    float64
 9   RAM_GB          238 non-null    int64
 10  Storage_GB_SSD  238 non-null    int64
 11  Weight_kg       233 non-null    float64
 12  Price           238 non-null    int64
dtypes: float64(3), int64(8), object(2)
memory usage: 22.4+ KB

In [13]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837

In [14]:
df['Screen_Size_cm'] = np.round(df['Screen_Size_cm'],2)

In [15]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.62,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.62,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.78,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.62,1.8,8,256,1.91,837

In [16]:
missing_data = df.isnull()
missing_data.head

<bound method NDFrame.head of      Unnamed: 0  Manufacturer  Category  Screen    GPU     OS  CPU_core  \
0         False         False     False   False  False  False     False
1         False         False     False   False  False  False     False
2         False         False     False   False  False  False     False
3         False         False     False   False  False  False     False
4         False         False     False   False  False  False     False
..          ...           ...       ...     ...    ...    ...       ...
233       False         False     False   False  False  False     False
234       False         False     False   False  False  False     False
235       False         False     False   False  False  False     False
236       False         False     False   False  False  False     False
237       False         False     False   False  False  False     False

     Screen_Size_cm  CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
0             False          False   False           False      False  False
1             False          False   False           False      False  False
2             False          False   False           False      False  False
3             False          False   False           False      False  False
4             False          False   False           False      False  False
..              ...            ...     ...             ...        ...    ...
233           False          False   False           False      False  False
234           False          False   False           False      False  False
235           False          False   False           False      False  False
236           False          False   False           False      False  False
237           False          False   False           False      False  False

[238 rows x 13 columns]>

In [22]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())

Unnamed: 0
Unnamed: 0
False    238
Name: count, dtype: int64
Manufacturer
Manufacturer
False    238
Name: count, dtype: int64
Category
Category
False    238
Name: count, dtype: int64
Screen
Screen
False    238
Name: count, dtype: int64
GPU
GPU
False    238
Name: count, dtype: int64
OS
OS
False    238
Name: count, dtype: int64
CPU_core
CPU_core
False    238
Name: count, dtype: int64
Screen_Size_cm
Screen_Size_cm
False    234
True       4
Name: count, dtype: int64
CPU_frequency
CPU_frequency
False    238
Name: count, dtype: int64
RAM_GB
RAM_GB
False    238
Name: count, dtype: int64
Storage_GB_SSD
Storage_GB_SSD
False    238
Name: count, dtype: int64
Weight_kg
Weight_kg
False    233
True       5
Name: count, dtype: int64
Price
Price
False    238
Name: count, dtype: int64

In [23]:
avg_Weightkg = df['Weight_kg'].astype('float').mean(axis=0)
print('Avearge of weight:', avg_Weightkg)

Avearge of weight: 1.8622317596566522

In [25]:
df['Weight_kg'].replace(np.nan,avg_Weightkg)

0      1.60
1      2.20
2      2.20
3      1.22
4      1.91
       ...
233    1.70
234    1.20
235    1.36
236    2.40
237    1.95
Name: Weight_kg, Length: 238, dtype: float64

In [27]:
Avg_ScreenSizecm = df['Screen_Size_cm'].astype('float').mean(axis = 0)
print(Avg_ScreenSizecm)

37.26786324786325

In [28]:
df['Screen_Size_cm'].replace(np.nan,Avg_ScreenSizecm)

0      35.56
1      39.62
2      39.62
3      33.78
4      39.62
       ...
233    35.56
234    33.78
235    30.48
236    39.62
237    35.56
Name: Screen_Size_cm, Length: 238, dtype: float64

In [36]:
df[['Screen_Size_cm', 'Weight_kg']] = df[['Screen_Size_cm', 'Weight_kg']].astype('float')

In [37]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.62,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.62,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.78,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.62,1.8,8,256,1.91,837

Data Standardization

In [38]:
df["Weight_kg"] = df["Weight_kg"]*2.205
df.rename(columns={'Weight_kg':'Weight_pounds'}, inplace=True)

In [39]:
df["Screen_Size_cm"] = df["Screen_Size_cm"]/2.54
df.rename(columns={'Screen_Size_cm':'Screen_Size_inch'}, inplace=True)

Data Normalization

In [40]:
df['CPU_frequency'] = df['CPU_frequency']/df['CPU_frequency'].max()

#### Binning

In [42]:
bins = np.linspace(min(df["Price"]), max(df["Price"]), 4)
group_names = ['Low', 'Medium', 'High']
df['Price-binned'] = pd.cut(df['Price'], bins, labels=group_names, include_lowest=True )

In [46]:
plt.bar(group_names, df["Price-binned"].value_counts())
plt.xlabel("Price")
plt.ylabel("count")
plt.title("Price bins")

<class 'AttributeError'>: module 'matplotlib' has no attribute 'bar'

#### Indicator variables

In [47]:
dummy_variable_1 = pd.get_dummies(df["Screen"])
dummy_variable_1.rename(columns={'IPS Panel':'Screen-IPS_panel', 'Full HD':'Screen-Full_HD'}, inplace=True)
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "Screen" from "df"
df.drop("Screen", axis = 1, inplace=True)

In [48]:
df.head()

,Unnamed: 0,Manufacturer,Category,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_pounds,Price,Price-binned,Screen-Full_HD,Screen-IPS_panel
0,0,Acer,4,2,1,5,14.000000,0.551724,8,256,3.52800,978,Low,False,True
1,1,Dell,3,1,1,3,15.598425,0.689655,4,256,4.85100,634,Low,True,False
2,2,Dell,3,1,1,7,15.598425,0.931034,8,256,4.85100,946,Low,True,False
3,3,Dell,4,2,1,5,13.299213,0.551724,8,128,2.69010,1244,Low,False,True
4,4,HP,4,2,1,7,15.598425,0.620690,8,256,4.21155,837,Low,True,False

In [49]:
print(df.head())

   Unnamed: 0 Manufacturer  Category  GPU  OS  CPU_core  Screen_Size_inch  \
0           0         Acer         4    2   1         5         14.000000
1           1         Dell         3    1   1         3         15.598425
2           2         Dell         3    1   1         7         15.598425
3           3         Dell         4    2   1         5         13.299213
4           4           HP         4    2   1         7         15.598425

   CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_pounds  Price Price-binned  \
0       0.551724       8             256        3.52800    978          Low
1       0.689655       4             256        4.85100    634          Low
2       0.931034       8             256        4.85100    946          Low
3       0.551724       8             128        2.69010   1244          Low
4       0.620690       8             256        4.21155    837          Low

   Screen-Full_HD  Screen-IPS_panel
0           False              True
1            True             False
2            True             False
3           False              True
4            True             False